body {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  background-color: #c7e1ff;
  font-size: 13px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  margin:0;
  padding:0;
  color:#fff;
}

body, html {
  height: 100%
}

#pinContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.panel {
  height: 100%;
  width: 100%;
  position: absolute;
  text-align: center;
}

b {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
  font-size: 30px;
}

.first {
	background: linear-gradient(purple, red);
}

.second {
	background: linear-gradient(yellow, green);
}

.third {
	background: linear-gradient(orangered, lightgoldenrodyellow);
}

.fourth {
	background: linear-gradient(blue, pink);
}

.blinking-cursor {
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}